* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container {
    border-radius: 17px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.9);
}

.tab-layout {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.tab-layout .tab-1,
.tab-layout .tab-2 {
    flex: 1;
    text-align: center;
    padding: 8px 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px -1px 4px 2px inset;
    cursor: pointer;
}

.tab-layout .tab-1 {
    border-top-left-radius: 12px;
}

.tab-layout .tab-2 {
    border-top-right-radius: 12px;
}

.content {
    width: 420px;
    background-color: #ffffff;
    padding: 24px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.tab-1-title,
.tab-2-title {
    color: black !important;
}

.tab-1-title,
.tab-2-title, 
#btn-submit-1,
#btn-submit-2,
.count-result {
    display: none;
}

.content h4 {
    color: white;
    text-align: center;
}

.content .input-file-wrap {
    background-color: #f1f1f1;
    padding: 18px;
    margin-top: 16px;
}

.content .input-file-wrap .input-file {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    border: 3px dashed #cccccc;
    background-color: #ffffff;
}

.content .input-file-wrap .input-file .drop-zone {
    max-width: 201px;
    height: 201px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
}
  
.drop-zone--over {
    border-style: solid;
    /* border-color: red; */
}
  
.content .input-file-wrap .input-file .drop-zone .drop-zone__input {
    display: none;
}

#currentTab {
    display: none;
}

.drop-zone__thumb {
    width: 500px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}
  
.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20%;
    color: red;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.content .btn-wrap {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.content .btn-wrap button {
    font-weight: bold;
    color: white;
    background-color: #007bff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
}

.content .result-wrap {
    background-color: #eeeeee;
    margin-top: 16px;
}

.content .result-wrap h4 {
    color: black;
    text-align: left;
    padding: 12px;
    border: 1px solid #007bff;
}

.content .result-wrap .result h4 {
    border-top: unset;
}

.extract-file-wrap {
    display: none;
    border: 1px solid #007bff;
    border-top: unset;
    padding: 8px 12px;
}

.extract-file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    background-color: #ffffff;
    padding: 8px;
}

.extract-file i {
    margin-left: 8px;
}

.download-icon {
    cursor: pointer;
}

.disable {
    pointer-events: none;
}

.active {
    color: #000000;
    /* background-color: white; */
    background-color: red;
    box-shadow: unset !important;
}

.show {
    display: block !important;
}

.student-list-file-title {
    margin-top: 10px;
    color: black !important;
}

#file-input-dssv {
    margin-top: 10px;
}