<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count Words in an Image</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_2.css') }}">
    <script src="{{ url_for('static', filename='js/index_2.js') }}"></script>

</head>
<body>
  <div class="container" id="drop_zone">
    <div class="card">
      <h2>Upload Files</h2>
      <div class="box">
        <header>
          <h3>Drop Files here</h3>
        </header>
        <p>Files Supported: JPEG files, Portable Network Graphic (PNG), WebP , Windows bitmaps</p>
        <button class="btn" id="btn_choose">Choose Files</button>
      </div>
    </div>
  </div>

</body>
</html>