<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIP Demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="tab-layout">
                <div class="tab-1 active">Score Extractor</div>
                <div class="tab-2">Word counter</div>
                <div class="activeTabRender">{{ activeTabRender }}</div>
            </div>
            <div class="content">
                <h4 class="tab-1-title show">EXTRACT SCORE FROM IMAGE</h4>
                <h4 class="tab-2-title">COUNT WORD FROM IMAGE</h4>
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="input-file-wrap">
                        <div class="input-file">
                            <div class="drop-zone">
                                <div>
                                    <span class="drop-zone__prompt">Drop image here or click to upload</span>
                                    <input id="file-input-image" type="file" name="file-image" class="drop-zone__input">
                                    <input id="activeTab" type="text" name="activeTab">
                                </div>
                            </div>
                            <div class="close-btn">
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                        </div>
                    </div>
                    <div class="student-list">
                        <h4 class="student-list-file-title">Select student list file</h4>
                        <div>
                            <input id="file-input-dssv" type="file" name="file-dssv" accept=".csv,.xlsx">
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <button id="btn-submit-1" class="show" type="submit"><i class="fa-solid fa-forward"></i> Extract score to excel file</button>
                        <button id="btn-submit-2" type="submit"><i class="fa-solid fa-forward"></i> Count word</button>
                    </div>
                </form>
                <div class="result-wrap">
                    <h4><i class="fa-solid fa-thumbtack"></i> Result</h4>
                    <div class="result">
                        <div class="extract-file-wrap show" id="download-region">
                            <div class="extract-file">
                                <p id="fileName">{{ fileName }}</p>
                                <p><span id="fileSize">{{ fileSize }} KB</span> <span class="download-icon"><i class="fa-solid fa-download"></i></span></p>
                            </div>
                        </div>
                        <h4 class="count-result">Total word(s): {{ number_of_words }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
</body>
</html>